.reactions {
	display: flex;
	gap: 1;
	.reaction {
		border: 1px solid var(--bs-primary-bg-subtle);
		display: inline-block;
		border-radius: 4px;
		padding: 2px 4px;
		margin: 0 1px;
		cursor: pointer;
		display: flex;
		align-items: center;
		.emoji {
			height: 18px!important;
		}
		&.reacted {
			border: 1px solid var(--bs-primary);
		}
		&:hover {
			background-color: var(--bs-primary-bg-subtle);
		}
		.reaction-emoji-count {
			margin-left: 5px;
			&:before {
				content: attr(data-count);
			}
		}
	}
	.reaction-add {
		margin-right: 10px;
		cursor: pointer;
		&.max-reactions {
			display: none !important;
		}
	}
}
